---
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '@layouts/BaseLayout.astro'
import BlogInsight from '@components/blog/BlogInsight.astro'
import blogHeroImg from '@images/hero-landing.png'
import HeroSection from '@components/ui/sections/HeroSection.astro'
import FeaturesSection from '@components/ui/sections/FeaturesSection.astro'
import HeroSectionAlt from '@components/ui/sections/HeroSectionAlt.astro'

const posts: CollectionEntry<'posts'>[] = (await getCollection('posts')).sort(
    (a: CollectionEntry<'posts'>, b: CollectionEntry<'posts'>) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
).slice(0, 3);
---

<BaseLayout title='主页' description=" Home">

    <HeroSection
        title=`大川售后 <span class="text-yellow-500 dark:text-yellow-400">CMS 系统</span>`
        subTitle="CMS系统是一个编辑和发布内容的网站软件系统，大川车业的售后人员使用该系统来提交或修改、发布售后指导文档。"
        primaryBtn="查看已有文档"
        primaryBtnURL="/timeline"
        alt="大川售后文档"
    />
    <!-- src={blogHeroImg} -->

    <FeaturesSection />

    <section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full">
        <div class="mx-auto mb-10 max-w-2xl text-center lg:mb-14">
            <h2 class="text-3xl font-bold text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight">
                最近发布的文档
            </h2>
            <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
                最新解决过的针对客户车改过程中不熟悉的环节发布的操作指导
            </p>
        </div>
        <!-- <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
            {
                posts.map(b => (
                    <BlogInsight blog={b} />
                ))
            }
        </div> -->
    </section>

    <!-- <HeroSectionAlt
        title="Fellow me on GitHub"
        subTitle="I love open source and have some small tools on my GitHub. You can get me more by checking out my code"
        url="https://github.com/godruoyi"
    /> -->
</BaseLayout>
